.welcome {
  text-align: center;
}
.logo {
  position: absolute;
  width: 90px;
  top: 13px;
}
hr {
  border: 1px solid black;
  margin:0px;
  padding:0px;
}
.next {
  bottom: 100px;
  left: 175px;
  position: absolute;
  border:1px solid black;
  margin-top: -15px;
  cursor: pointer;
  padding: 10px 24px;
}